<tr id='option-size'> 
	<td width="100" bgcolor="#CCCCCC" align="center">재고</td>
	<td width="700" bgcolor="#F2F2F2">
		<div>
			<select name="size">
				<option value='FREE' >FREE</option>
			</select>
			<input type='number' name='quantity'><label>개</label>
		</div>			
	</td>
</tr>