<div id='option-size'>
	<select name="size">
		<option value='XS' >XS</option>
		<option value='S' >S</option>
		<option value='M' >M</option>
		<option value='L' >L</option>
		<option value='XL' >XL</option>
		<option value='XXL' >XXL</option>
	</select>
	<input type='number' name='quantity'><label>개</label>
	<button id='btn-add-size'>+</button>
	<button id='btn-delete-size'>-</button><br/>
</div>