.button {
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    width: 160px;
    height: 30px;
    padding-top: 8px;
    padding-left: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#category-table {
	background-color: #f8f8f8;
}